[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
datasets = "*"
jupyter = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pre-commit = "*"
black = {extras = ["jupyter"], version = "*"}
isort = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.11"
