[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
jupyter = "*"
fastapi = "*"
uvicorn = "*"
transformers = "*"
torch = "*"
peft = "*"
rich = "*"
sentencepiece = "*"
protobuf = "*"
bitsandbytes = "*"
tensorboard = "*"
mistral-common = ">=1.8.3"
langchain = "*"
pandas = "*"
pyyaml = "*"
llama-cpp-python = ">=0.3.4,<0.4.0"


[dev-packages]
pre-commit = "*"
black = {extras = ["jupyter"], version = "*"}
isort = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.11"
